TestResult.xml
build
[oO]bj
[Bb]in
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.TeamCity.user
*.resharper
*.suo
*.cache
~$*
*.orig
*.5.0.ReSharper
CommonAssemblyInfo.cs
coverage
coverage/*
Coverage/*
Coverage
Coverage.Log
Specifications/*
build_spoort/tmp
src/FieldBook.Interface/Content/css/*_merged_*.css
src/FieldBook.Interface/Content/scripts/*_merged_*.js
src/FieldBook.Interface/Content/scripts/base_*.js
src/FieldBook.Interface/App_Data/Reports/*.pdf
src/FieldBook.Interface/App_Data/Reports/*.xls
src/FieldBook.Interface/App_Data/Reports/*.html
src/FieldBook.Interface/App_Data/Reports/*.jpg
src/FieldBook.Interface/App_Data/Reports/*.xml
src/FieldBook.Interface/App_Data/Reports/*.xlsx
src/FieldBook.Interface/App_Data/uploads/*.csv
src/FieldBook.Interface/Help/*
src/FieldBook.Interface/Help
lib/StoryTeller.1.0.1.144/*.htm
lib/StoryTeller.1.0.1.144/*.css
lib/StoryTeller.1.0.1.144/External
lib/StoryTeller.1.0.1.144/Core
lib/StoryTeller.1.0.1.144/Controls
lib/StoryTeller.1.0.1.144/history.xml
lib/selenium/WebDriver.xml
StoryTellerDebug.cs
FieldBook - Firefox-results
FieldBook - IE-results
FieldBook-results
lib/NHProf/log.txt
*.xap
results
results/*
*.swp
FieldBookSaas
FieldBookSaas/*
artifacts
artifacts/*